.match-card {
      max-width: 988px;
      height: 207px;
      display: flex;
      justify-content: space-between;
      padding: 60px 40px 40px 40px;
      border-radius: 12px;
      background: #265535;
      border: none;
    }

    .match-card-info {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .match-card-title {
        font-family: 'Gilroy-ExtraBold';
        font-size: 36px;
        color: #ffffff;
    }

    .match-card-subtitle {
      font-size: 22px;
      font-family: 'Gilroy-Regular';
      color: #AFCDEF;
    }

    .match-card-button {
    margin-top: 45px;
	font-family: 'Gilroy-ExtraBold';
	border: 1px solid transparent;
	width: 412px;
    height: 62px;
    color: white;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
	background-image:
		linear-gradient(#252547, #252547),
		linear-gradient(
			to right,
			rgb(from var(--dark) r g b / 0.3),
			rgb(from var(--brand-primary) r g b / 0.3)
		),
		linear-gradient(#252547, #252547);

	background-origin: padding-box, border-box, border-box;
	background-clip: padding-box, border-box, border-box;
}

.rating {
    color: white;
	padding: 8px 100px;
    width: 412px;
    height: 39px !important;
	justify-content: center;
}


.setka {
    margin-top: 40px;
    width: 1420px;
    padding: 40px;
    min-height: 1215px;
	position: relative;
    background-color: #12101F;
	background-image: var(--surface-dark-gradient);
	border-radius: var(--radius-l);
    overflow: hidden;
	isolation: isolate;
}

.setka::before {
		content: '';
		position: absolute;
		width: 336px;
		height: 303px;
		top: -134px;
		right: -216px;
		border-radius: 100%;
		background-color: var(--brand-primary);
		opacity: 0.2;
		filter: blur(148px);
		z-index: -1;
	}

	.setka:after {
		content: '';
		position: absolute;
		width: 268px;
		height: 241px;
		bottom: -135px;
		left: -133px;
		border-radius: 100%;
		background-color: var(--brand-primary);
		opacity: 0.2;
		filter: blur(148px);
		z-index: -1;
	}


.setkachose {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.chose {
    width: 100px !important;
    height: 46px !important;
}

.chose2 {
    margin-top: 1px;
    width: 100px !important;
    height: 46px !important;
}

.text-heading-l {
    padding: 0px !important;
}